@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    width: 90vw;
    font-family: 'Poppins',sans-serif;
  }
  
  .header{
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 17vh;
  }

  .logo{
    font-size: 30px;
    color: rgb(58, 58, 58);
    cursor: pointer;
  }

  .header .nav a{
  color: black;
  text-decoration: none;
  text-decoration-color: white;
  }

  .header .nav a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181, 181);
  }
  .nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
  font-size: 1.5rem;
}


.section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 20rem;
    min-height: fit-content;
}

.profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  
}

.profile-pic{
  /* display: flex; */
  height: 400px;
  width: 400px;
  margin: auto 0;
}
.profile-pic img{
  border-radius: 50%;
  border: 3px solid gray;
  width: 70%;
}


.intro{
  justify-content: center;
  align-items: center;
  height: 100%;
  /* position: relative; */

}

.socials-container{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.4rem;

}
.socials-container img{
  width: 30px;
  height: 30px;

}
.btn-container button{
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  margin: 30px 0;
}

.btn-container button .btn2{
  background: #4CAF50;
}
.text{
  font-size: 20px;
text-align: center;
align-items: center;
justify-content: center;

margin-top: 50%;
}

.text .text1{
  font-size: 30px;
}

.title{
  font-size: 50px;
  margin: 20px;
}

.skill-container{
  display: flex;
  justify-content: center;  
  gap: 40px;
  
  text-align: center;
}

.skills-container-left{
  /* display: flex; */
  text-align: initial;
  /* flex-wrap: wrap; */

  /* flex-direction: row; */
  gap: 2.5rem;
  justify-content: space-between;
}
article img{
  width: 30px;
}

.skill-container{
  display: flex;
text-align: initial;
flex-wrap: wrap;
flex-direction: row;
gap: 2.5rem;
justify-content: space-around;
}